<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP4" />
            <add name="PHP5" path="*.php" verb="*" modules="CgiModule" scriptProcessor="C:\php5\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
